
.singleOrder{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: white;
    margin-bottom: 10px;
    cursor: pointer;
    border-left: 5px solid #e0e0e0;
}

.singleOrder:hover {
    box-shadow: 2px 2px 10px #d8d8d8;
    transition: ease-in 150ms;
}

.mainArea{
    line-height: 5px;
}

.mainArea img{
    float: left;
    display: block;
    margin-right: 10px;
}

.mainArea p{
    color: #6a6a6a;
    font-size: 13px;
    font-weight: 400
}

.restInfo p{
    color: #6a6a6a;
    font-size: 15px;
}

.ingredients {
    color: white;
    background: #130C53;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 4px;
    box-sizing: border-box;
}

.ingredients:hover{
    background: #241981;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #5FFFCA;
    border-radius: 50%;
    display: inline-block;
  }